codes/S003/local/.flows.json.backup
[
    {
        "id": "f8333e725806023d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d38e962e6ef4a91d",
        "type": "tab",
        "label": "POST Request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5de4add42bdb9ed2",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a06490e966f3fef2",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a25c00a714d46f2c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ca4a9ec79df2bd2",
        "type": "group",
        "z": "d38e962e6ef4a91d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7029437baad92e26",
            "eec88a09186d10dc",
            "09216df2e54d4fa9"
        ],
        "x": 54,
        "y": 59
    },
    {
        "id": "17c361b70615de1c",
        "type": "group",
        "z": "d38e962e6ef4a91d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1067922fe4f44b63",
            "d4ab64420d4bf37c",
            "c8d98795e7dec0cb"
        ],
        "x": 14,
        "y": 259
    },
    {
        "id": "09ef4f401206f146",
        "type": "mqtt-broker",
        "name": "IECMU",
        "broker": "iecmu.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef931151ec9171c9",
        "type": "inject",
        "z": "f8333e725806023d",
        "d": true,
        "name": "Repeat",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "This is a topic",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "d20c8fc920b94cdc"
            ]
        ]
    },
    {
        "id": "0945084db5a867e3",
        "type": "debug",
        "z": "f8333e725806023d",
        "name": "Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "d20c8fc920b94cdc",
        "type": "function",
        "z": "f8333e725806023d",
        "name": "function 1",
        "func": "// msg.payload = '555555555'\n// msg.topic = 6666666\n\n// const ts = msg.payload\n// const date = new Date(ts)\n// msg.payload = date.toDateString()\n\nmsg.payload = Math.random()\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 120,
        "wires": [
            [
                "a2e02062e8b18a03"
            ]
        ]
    },
    {
        "id": "a2e02062e8b18a03",
        "type": "switch",
        "z": "f8333e725806023d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "eb32526d3cc9822a"
            ],
            [
                "8cf4eaaff371df55"
            ]
        ]
    },
    {
        "id": "eb32526d3cc9822a",
        "type": "change",
        "z": "f8333e725806023d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Too high!!!!!!!!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 60,
        "wires": [
            [
                "0945084db5a867e3"
            ]
        ]
    },
    {
        "id": "8cf4eaaff371df55",
        "type": "change",
        "z": "f8333e725806023d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Too low!!!!!!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "0945084db5a867e3"
            ]
        ]
    },
    {
        "id": "7029437baad92e26",
        "type": "http in",
        "z": "d38e962e6ef4a91d",
        "g": "2ca4a9ec79df2bd2",
        "name": "Post1",
        "url": "/post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "eec88a09186d10dc"
            ]
        ]
    },
    {
        "id": "eec88a09186d10dc",
        "type": "template",
        "z": "d38e962e6ef4a91d",
        "g": "2ca4a9ec79df2bd2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "09216df2e54d4fa9"
            ]
        ]
    },
    {
        "id": "09216df2e54d4fa9",
        "type": "http response",
        "z": "d38e962e6ef4a91d",
        "g": "2ca4a9ec79df2bd2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "6924ab81bd62790a",
        "type": "comment",
        "z": "d38e962e6ef4a91d",
        "name": "Server listening to POST request",
        "info": "",
        "x": 190,
        "y": 20,
        "wires": []
    },
    {
        "id": "662fdea8037acae9",
        "type": "comment",
        "z": "d38e962e6ef4a91d",
        "name": "Client sending post request",
        "info": "",
        "x": 170,
        "y": 220,
        "wires": []
    },
    {
        "id": "1067922fe4f44b63",
        "type": "inject",
        "z": "d38e962e6ef4a91d",
        "g": "17c361b70615de1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1880/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "d4ab64420d4bf37c"
            ]
        ]
    },
    {
        "id": "d4ab64420d4bf37c",
        "type": "http request",
        "z": "d38e962e6ef4a91d",
        "g": "17c361b70615de1c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "c8d98795e7dec0cb"
            ]
        ]
    },
    {
        "id": "c8d98795e7dec0cb",
        "type": "debug",
        "z": "d38e962e6ef4a91d",
        "g": "17c361b70615de1c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "5f47407ad0e3de2d",
        "type": "http in",
        "z": "5de4add42bdb9ed2",
        "name": "",
        "url": "/post2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "7efdc26844f4e20b"
            ]
        ]
    },
    {
        "id": "7efdc26844f4e20b",
        "type": "function",
        "z": "5de4add42bdb9ed2",
        "name": "function 2",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "d862af1804ff7316"
            ]
        ]
    },
    {
        "id": "d862af1804ff7316",
        "type": "http response",
        "z": "5de4add42bdb9ed2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "76fbbce1fa6d307e",
        "type": "inject",
        "z": "5de4add42bdb9ed2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1880/post2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you",
        "payloadType": "str",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "4864f5afbef2216f"
            ]
        ]
    },
    {
        "id": "4864f5afbef2216f",
        "type": "http request",
        "z": "5de4add42bdb9ed2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "9c44e5545ae58be5"
            ]
        ]
    },
    {
        "id": "9c44e5545ae58be5",
        "type": "debug",
        "z": "5de4add42bdb9ed2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "e9ba82c28d2873eb",
        "type": "inject",
        "z": "a06490e966f3fef2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://materials-line-oa-production.up.railway.app/prodsup",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"640439495\",\"code\":\"28f6\"}",
        "payloadType": "json",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "6ea5aee6753e82fc"
            ]
        ]
    },
    {
        "id": "6ea5aee6753e82fc",
        "type": "http request",
        "z": "a06490e966f3fef2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "f68602f3d4e0d0cf"
            ]
        ]
    },
    {
        "id": "f68602f3d4e0d0cf",
        "type": "debug",
        "z": "a06490e966f3fef2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "417721e0e7894b25",
        "type": "comment",
        "z": "a25c00a714d46f2c",
        "name": "Subscript to topic",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "bf4f5802f4c2d5c3",
        "type": "mqtt in",
        "z": "a25c00a714d46f2c",
        "name": "",
        "topic": "test/main",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09ef4f401206f146",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "6ca1c20c81ec32e0"
            ]
        ]
    },
    {
        "id": "6ca1c20c81ec32e0",
        "type": "debug",
        "z": "a25c00a714d46f2c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "a7dca0ea54057c59",
        "type": "mqtt out",
        "z": "a25c00a714d46f2c",
        "name": "",
        "topic": "test/main",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09ef4f401206f146",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "42a27d4a632d9075",
        "type": "inject",
        "z": "a25c00a714d46f2c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "a7dca0ea54057c59"
            ]
        ]
    }
]