codes/S003/local/flows.json
[
    {
        "id": "f8333e725806023d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d38e962e6ef4a91d",
        "type": "tab",
        "label": "POST Request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5de4add42bdb9ed2",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a06490e966f3fef2",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a25c00a714d46f2c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd5329910dc78e84",
        "type": "tab",
        "label": "M6-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "770560acb9a8fbbc",
        "type": "tab",
        "label": "M6-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c18c70217b2efab0",
        "type": "tab",
        "label": "M7-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f1627c695c63243",
        "type": "tab",
        "label": "M7-Sample",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ca4a9ec79df2bd2",
        "type": "group",
        "z": "d38e962e6ef4a91d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7029437baad92e26",
            "eec88a09186d10dc",
            "09216df2e54d4fa9"
        ],
        "x": 54,
        "y": 59
    },
    {
        "id": "17c361b70615de1c",
        "type": "group",
        "z": "d38e962e6ef4a91d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1067922fe4f44b63",
            "d4ab64420d4bf37c",
            "c8d98795e7dec0cb"
        ],
        "x": 14,
        "y": 259
    },
    {
        "id": "09ef4f401206f146",
        "type": "mqtt-broker",
        "name": "IECMU",
        "broker": "iecmu.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1b48e47df76b2678",
        "type": "firebase admin",
        "name": "Firestore"
    },
    {
        "id": "2a0ed91542aa6a3f",
        "type": "ui_group",
        "name": "Default",
        "tab": "16f01d4279618ea8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16f01d4279618ea8",
        "type": "ui_tab",
        "name": "Database",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c5d974bd146bbae",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8d24974f5ec97f88",
        "type": "ui_tab",
        "name": "Context",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3186d5b66a65152f",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "8d24974f5ec97f88",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "3a09c6896aeb3ab1",
        "type": "ui_tab",
        "name": "Sample",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "802f846310809ca7",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "3a09c6896aeb3ab1",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ef931151ec9171c9",
        "type": "inject",
        "z": "f8333e725806023d",
        "d": true,
        "name": "Repeat",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "This is a topic",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "d20c8fc920b94cdc"
            ]
        ]
    },
    {
        "id": "0945084db5a867e3",
        "type": "debug",
        "z": "f8333e725806023d",
        "name": "Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "d20c8fc920b94cdc",
        "type": "function",
        "z": "f8333e725806023d",
        "name": "function 1",
        "func": "// msg.payload = '555555555'\n// msg.topic = 6666666\n\n// const ts = msg.payload\n// const date = new Date(ts)\n// msg.payload = date.toDateString()\n\nmsg.payload = Math.random()\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 120,
        "wires": [
            [
                "a2e02062e8b18a03"
            ]
        ]
    },
    {
        "id": "a2e02062e8b18a03",
        "type": "switch",
        "z": "f8333e725806023d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "eb32526d3cc9822a"
            ],
            [
                "8cf4eaaff371df55"
            ]
        ]
    },
    {
        "id": "eb32526d3cc9822a",
        "type": "change",
        "z": "f8333e725806023d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Too high!!!!!!!!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 60,
        "wires": [
            [
                "0945084db5a867e3"
            ]
        ]
    },
    {
        "id": "8cf4eaaff371df55",
        "type": "change",
        "z": "f8333e725806023d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Too low!!!!!!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "0945084db5a867e3"
            ]
        ]
    },
    {
        "id": "7029437baad92e26",
        "type": "http in",
        "z": "d38e962e6ef4a91d",
        "g": "2ca4a9ec79df2bd2",
        "name": "Post1",
        "url": "/post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "eec88a09186d10dc"
            ]
        ]
    },
    {
        "id": "eec88a09186d10dc",
        "type": "template",
        "z": "d38e962e6ef4a91d",
        "g": "2ca4a9ec79df2bd2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "09216df2e54d4fa9"
            ]
        ]
    },
    {
        "id": "09216df2e54d4fa9",
        "type": "http response",
        "z": "d38e962e6ef4a91d",
        "g": "2ca4a9ec79df2bd2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "6924ab81bd62790a",
        "type": "comment",
        "z": "d38e962e6ef4a91d",
        "name": "Server listening to POST request",
        "info": "",
        "x": 190,
        "y": 20,
        "wires": []
    },
    {
        "id": "662fdea8037acae9",
        "type": "comment",
        "z": "d38e962e6ef4a91d",
        "name": "Client sending post request",
        "info": "",
        "x": 170,
        "y": 220,
        "wires": []
    },
    {
        "id": "1067922fe4f44b63",
        "type": "inject",
        "z": "d38e962e6ef4a91d",
        "g": "17c361b70615de1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1880/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "d4ab64420d4bf37c"
            ]
        ]
    },
    {
        "id": "d4ab64420d4bf37c",
        "type": "http request",
        "z": "d38e962e6ef4a91d",
        "g": "17c361b70615de1c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "c8d98795e7dec0cb"
            ]
        ]
    },
    {
        "id": "c8d98795e7dec0cb",
        "type": "debug",
        "z": "d38e962e6ef4a91d",
        "g": "17c361b70615de1c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "5f47407ad0e3de2d",
        "type": "http in",
        "z": "5de4add42bdb9ed2",
        "name": "",
        "url": "/post2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "7efdc26844f4e20b"
            ]
        ]
    },
    {
        "id": "7efdc26844f4e20b",
        "type": "function",
        "z": "5de4add42bdb9ed2",
        "name": "function 2",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "d862af1804ff7316"
            ]
        ]
    },
    {
        "id": "d862af1804ff7316",
        "type": "http response",
        "z": "5de4add42bdb9ed2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "76fbbce1fa6d307e",
        "type": "inject",
        "z": "5de4add42bdb9ed2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1880/post2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you",
        "payloadType": "str",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "4864f5afbef2216f"
            ]
        ]
    },
    {
        "id": "4864f5afbef2216f",
        "type": "http request",
        "z": "5de4add42bdb9ed2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "9c44e5545ae58be5"
            ]
        ]
    },
    {
        "id": "9c44e5545ae58be5",
        "type": "debug",
        "z": "5de4add42bdb9ed2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "e9ba82c28d2873eb",
        "type": "inject",
        "z": "a06490e966f3fef2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://materials-line-oa-production.up.railway.app/prodsup",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"640439495\",\"code\":\"28f6\"}",
        "payloadType": "json",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "6ea5aee6753e82fc"
            ]
        ]
    },
    {
        "id": "6ea5aee6753e82fc",
        "type": "http request",
        "z": "a06490e966f3fef2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "f68602f3d4e0d0cf"
            ]
        ]
    },
    {
        "id": "f68602f3d4e0d0cf",
        "type": "debug",
        "z": "a06490e966f3fef2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "417721e0e7894b25",
        "type": "comment",
        "z": "a25c00a714d46f2c",
        "name": "Subscript to topic",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "bf4f5802f4c2d5c3",
        "type": "mqtt in",
        "z": "a25c00a714d46f2c",
        "d": true,
        "name": "",
        "topic": "test/main",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09ef4f401206f146",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "6ca1c20c81ec32e0"
            ]
        ]
    },
    {
        "id": "6ca1c20c81ec32e0",
        "type": "debug",
        "z": "a25c00a714d46f2c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "a7dca0ea54057c59",
        "type": "mqtt out",
        "z": "a25c00a714d46f2c",
        "d": true,
        "name": "",
        "topic": "test/main",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09ef4f401206f146",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "42a27d4a632d9075",
        "type": "inject",
        "z": "a25c00a714d46f2c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hi form node-red",
        "payloadType": "str",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "a7dca0ea54057c59"
            ]
        ]
    },
    {
        "id": "bb549195cde26858",
        "type": "comment",
        "z": "bd5329910dc78e84",
        "name": "Write data to database",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "0bb50a0593561f70",
        "type": "inject",
        "z": "bd5329910dc78e84",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "857db6d30e4346e3"
            ]
        ]
    },
    {
        "id": "7e194f739000098e",
        "type": "Firestore out",
        "z": "bd5329910dc78e84",
        "d": true,
        "name": "",
        "collection": "data",
        "document": "",
        "operation": "add",
        "admin": "1b48e47df76b2678",
        "eject": false,
        "x": 600,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "857db6d30e4346e3",
        "type": "function",
        "z": "bd5329910dc78e84",
        "name": "function 3",
        "func": "const timestamp = new Date().getTime();\nconst value = Math.random();\nmsg.payload = {\n    value: value,\n    timestamp: timestamp,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "7e194f739000098e"
            ]
        ]
    },
    {
        "id": "814fe651b6bdc98d",
        "type": "comment",
        "z": "770560acb9a8fbbc",
        "name": "Reading from database",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "ce321fd5c6949e88",
        "type": "Firestore in",
        "z": "770560acb9a8fbbc",
        "d": true,
        "name": "",
        "collection": "data",
        "group": false,
        "document": "",
        "realtime": true,
        "query": [
            {
                "orderBy": {
                    "field": "timestamp",
                    "direction": "desc"
                }
            },
            {
                "limit": 5
            }
        ],
        "admin": "1b48e47df76b2678",
        "snapHandler": "",
        "eject": false,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "36dc1c505f00447b"
            ]
        ]
    },
    {
        "id": "3d72ab0d764869d4",
        "type": "debug",
        "z": "770560acb9a8fbbc",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "faf0c8e09e289009",
        "type": "inject",
        "z": "770560acb9a8fbbc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "79b2010dbba9fec1"
            ]
        ]
    },
    {
        "id": "f36494f89dfe1e7b",
        "type": "Firestore out",
        "z": "770560acb9a8fbbc",
        "d": true,
        "name": "",
        "collection": "data",
        "document": "",
        "operation": "add",
        "admin": "1b48e47df76b2678",
        "eject": false,
        "x": 600,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "79b2010dbba9fec1",
        "type": "function",
        "z": "770560acb9a8fbbc",
        "name": "function 4",
        "func": "const timestamp = new Date().getTime();\nconst value = Math.random();\nmsg.payload = {\n    value: value,\n    timestamp: timestamp,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "f36494f89dfe1e7b"
            ]
        ]
    },
    {
        "id": "36dc1c505f00447b",
        "type": "function",
        "z": "770560acb9a8fbbc",
        "name": "function 5",
        "func": "let payload = msg.payload;\nlet textOut = \"\";\n\nfor (const [key, value] of Object.entries(payload)) {\n    const date = new Date(value.timestamp);\n    const datestring = date.toLocaleDateString();\n    const timestring = date.toLocaleTimeString();\n    const reading = value.value.toFixed(2);\n    textOut += `${datestring} ${timestring}: ${reading} \\n`;\n}\n\nmsg.payload = textOut;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "3d72ab0d764869d4",
                "534472981b4f98f0"
            ]
        ]
    },
    {
        "id": "534472981b4f98f0",
        "type": "ui_text",
        "z": "770560acb9a8fbbc",
        "group": "2a0ed91542aa6a3f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "a07b08bc12279dce",
        "type": "change",
        "z": "c18c70217b2efab0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "76a667f009234518",
        "type": "inject",
        "z": "c18c70217b2efab0",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "3f595a04e978e1bc"
            ]
        ]
    },
    {
        "id": "b4666ca58694419f",
        "type": "debug",
        "z": "c18c70217b2efab0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "dece301781dfbfea",
        "type": "inject",
        "z": "c18c70217b2efab0",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "value",
        "payloadType": "flow",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "b4666ca58694419f",
                "624ae11e4f0e08d3"
            ]
        ]
    },
    {
        "id": "3f595a04e978e1bc",
        "type": "function",
        "z": "c18c70217b2efab0",
        "name": "function 6",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "a07b08bc12279dce"
            ]
        ]
    },
    {
        "id": "624ae11e4f0e08d3",
        "type": "ui_text",
        "z": "c18c70217b2efab0",
        "group": "3186d5b66a65152f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "0704f028541c77e3",
        "type": "inject",
        "z": "c18c70217b2efab0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "a07b08bc12279dce"
            ]
        ]
    },
    {
        "id": "b9aff6e221fddf59",
        "type": "inject",
        "z": "3f1627c695c63243",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "65d17bff64c38f7d"
            ]
        ]
    },
    {
        "id": "65d17bff64c38f7d",
        "type": "function",
        "z": "3f1627c695c63243",
        "name": "function 7",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "9edc68a04ceaecd9",
                "e519b330050483a3"
            ]
        ]
    },
    {
        "id": "9edc68a04ceaecd9",
        "type": "ui_chart",
        "z": "3f1627c695c63243",
        "name": "",
        "group": "802f846310809ca7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9fa28c4244856c38",
        "type": "ui_text",
        "z": "3f1627c695c63243",
        "group": "802f846310809ca7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 430,
        "y": 380,
        "wires": []
    },
    {
        "id": "a3187327ee777d12",
        "type": "change",
        "z": "3f1627c695c63243",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "current",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 120,
        "wires": [
            [
                "2ca5a3bf77af8078"
            ]
        ]
    },
    {
        "id": "e519b330050483a3",
        "type": "switch",
        "z": "3f1627c695c63243",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "current",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "a3187327ee777d12"
            ]
        ]
    },
    {
        "id": "e8f6bfae31a6ce8d",
        "type": "inject",
        "z": "3f1627c695c63243",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 570,
        "y": 40,
        "wires": [
            [
                "a3187327ee777d12"
            ]
        ]
    },
    {
        "id": "2ca5a3bf77af8078",
        "type": "mqtt out",
        "z": "3f1627c695c63243",
        "name": "",
        "topic": "nirand/current",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09ef4f401206f146",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "675dc0d97f636a80",
        "type": "mqtt in",
        "z": "3f1627c695c63243",
        "name": "",
        "topic": "nirand/current",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09ef4f401206f146",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "9fa28c4244856c38"
            ]
        ]
    }
]