codes/S005/local/flows.json
[
    {
        "id": "5b329120aeb9f39e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b89684b6b7c9a3e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2acff690e156067f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f890b90356fa61a4",
        "type": "tab",
        "label": "Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fbe94a88648108c",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d023329a7dc2c8bd",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "440117e1a35c6ee8",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0bfe979e53f066b",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2ce797ff8d6a242",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "095b6b82d1126c8a",
        "type": "tab",
        "label": "Flow 9",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d516eaf74847e6bb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iecmu.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c64b72e719aa041c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f4355dda01a89ae2",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "0e1689bab054488c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "f4355dda01a89ae2",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "bbd1e3313e8bd9f3",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "eae91abd84217400",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "bbd1e3313e8bd9f3",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "7767f32609de2eb1",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "0fa5a5d72cc8c19b",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "7767f32609de2eb1",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "97da61a44e1db860",
        "type": "http request",
        "z": "5b329120aeb9f39e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://cmu.ac.th",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 80,
        "wires": [
            [
                "a26d16f7ac552649",
                "0f6526434c25898f"
            ]
        ]
    },
    {
        "id": "a26d16f7ac552649",
        "type": "debug",
        "z": "5b329120aeb9f39e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "2e1a0bfabaa2d8b1",
        "type": "inject",
        "z": "5b329120aeb9f39e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "97da61a44e1db860"
            ]
        ]
    },
    {
        "id": "0f6526434c25898f",
        "type": "file",
        "z": "5b329120aeb9f39e",
        "name": "",
        "filename": "index.html",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "46fe9a5b7bb6ae3c",
        "type": "http in",
        "z": "3b89684b6b7c9a3e",
        "name": "",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "409927384b81e49f",
                "a192f356fd637cdf"
            ]
        ]
    },
    {
        "id": "bc568fb28c5ddffd",
        "type": "http response",
        "z": "3b89684b6b7c9a3e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "8eb3503a8f71e969",
        "type": "template",
        "z": "3b89684b6b7c9a3e",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Helllo, this is {{time}}.",
        "output": "str",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "bc568fb28c5ddffd"
            ]
        ]
    },
    {
        "id": "409927384b81e49f",
        "type": "function",
        "z": "3b89684b6b7c9a3e",
        "d": true,
        "name": "function 1",
        "func": "const date = new Date();\nmsg.time = date.toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "8eb3503a8f71e969"
            ]
        ]
    },
    {
        "id": "a192f356fd637cdf",
        "type": "file in",
        "z": "3b89684b6b7c9a3e",
        "name": "",
        "filename": "index.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "bc568fb28c5ddffd"
            ]
        ]
    },
    {
        "id": "99281763699ca5c1",
        "type": "http in",
        "z": "2acff690e156067f",
        "name": "",
        "url": "post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "5e8eeb5330d2157f",
                "262a057dc0c0bcb4",
                "d9167a71967f4830"
            ]
        ]
    },
    {
        "id": "5e8eeb5330d2157f",
        "type": "debug",
        "z": "2acff690e156067f",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "56bd45af0ac3502a",
        "type": "http response",
        "z": "2acff690e156067f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "262a057dc0c0bcb4",
        "type": "template",
        "z": "2acff690e156067f",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "56bd45af0ac3502a"
            ]
        ]
    },
    {
        "id": "023d144ea6014a4a",
        "type": "comment",
        "z": "2acff690e156067f",
        "name": "Server",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "f8193f4c54ea2dce",
        "type": "comment",
        "z": "2acff690e156067f",
        "name": "Client",
        "info": "",
        "x": 210,
        "y": 320,
        "wires": []
    },
    {
        "id": "3a5660ea5764b526",
        "type": "http request",
        "z": "2acff690e156067f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "626cfa8a1e3f92eb"
            ]
        ]
    },
    {
        "id": "9de18210cefb68d7",
        "type": "inject",
        "z": "2acff690e156067f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "http://127.0.0.1:1880/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you",
        "payloadType": "str",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "3a5660ea5764b526"
            ]
        ]
    },
    {
        "id": "626cfa8a1e3f92eb",
        "type": "debug",
        "z": "2acff690e156067f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "d9167a71967f4830",
        "type": "function",
        "z": "2acff690e156067f",
        "name": "function 2",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 40,
        "wires": [
            [
                "56bd45af0ac3502a"
            ]
        ]
    },
    {
        "id": "205872fe9ac989c5",
        "type": "http request",
        "z": "f890b90356fa61a4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 80,
        "wires": [
            [
                "810c30d23d2463c7"
            ]
        ]
    },
    {
        "id": "3e624c91d3948e85",
        "type": "inject",
        "z": "f890b90356fa61a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://materials-line-oa-production.up.railway.app/prodsup",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"111222333\",\"code\":\"xxxx\"}",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "205872fe9ac989c5"
            ]
        ]
    },
    {
        "id": "810c30d23d2463c7",
        "type": "debug",
        "z": "f890b90356fa61a4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "3fef0487bc3864e2",
        "type": "inject",
        "z": "1fbe94a88648108c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer 5cl0SXe8KtBOviWeoNiDhXASg6WHTmCaK8GRm7gcCpX\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "https://notify-api.line.me/api/notify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"ส่งรายงานยัง\"}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "1783fcf85c98e08f"
            ]
        ]
    },
    {
        "id": "1783fcf85c98e08f",
        "type": "http request",
        "z": "1fbe94a88648108c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "58cd2b50c61f2e3c"
            ]
        ]
    },
    {
        "id": "58cd2b50c61f2e3c",
        "type": "debug",
        "z": "1fbe94a88648108c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "4b556e5523a6b787",
        "type": "mqtt out",
        "z": "d023329a7dc2c8bd",
        "name": "",
        "topic": "test/main",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d516eaf74847e6bb",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "85bf2547a418e95f",
        "type": "inject",
        "z": "d023329a7dc2c8bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello from node-red",
        "payloadType": "str",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "4b556e5523a6b787"
            ]
        ]
    },
    {
        "id": "d7861e8fe83c3641",
        "type": "mqtt in",
        "z": "d023329a7dc2c8bd",
        "name": "",
        "topic": "test/main",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d516eaf74847e6bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "d90ecd5c0bc83bc2"
            ]
        ]
    },
    {
        "id": "d90ecd5c0bc83bc2",
        "type": "debug",
        "z": "d023329a7dc2c8bd",
        "d": true,
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "5da7e0f24edbb641",
        "type": "mqtt in",
        "z": "440117e1a35c6ee8",
        "d": true,
        "name": "",
        "topic": "NR/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d516eaf74847e6bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 40,
        "wires": [
            [
                "984707f1b42af8f2"
            ]
        ]
    },
    {
        "id": "17e9f758a7b8c226",
        "type": "debug",
        "z": "440117e1a35c6ee8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "984707f1b42af8f2",
        "type": "switch",
        "z": "440117e1a35c6ee8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "4ed2ce64ed616dfa"
            ],
            [
                "33d522095448de47"
            ]
        ]
    },
    {
        "id": "4ed2ce64ed616dfa",
        "type": "change",
        "z": "440117e1a35c6ee8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Something happens",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "17e9f758a7b8c226"
            ]
        ]
    },
    {
        "id": "33d522095448de47",
        "type": "change",
        "z": "440117e1a35c6ee8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Everything is okay.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "17e9f758a7b8c226"
            ]
        ]
    },
    {
        "id": "72160ff32aaed5f5",
        "type": "mqtt in",
        "z": "e0bfe979e53f066b",
        "name": "",
        "topic": "NR/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d516eaf74847e6bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "652c3d94c9119a11"
            ]
        ]
    },
    {
        "id": "4dee4157c9a1ad0f",
        "type": "debug",
        "z": "e0bfe979e53f066b",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "652c3d94c9119a11",
        "type": "function",
        "z": "e0bfe979e53f066b",
        "name": "function 3",
        "func": "const payloadJSON = msg.payload;\nconst values = payloadJSON['LSM6DSO Acceleration Sensor'].values;\nconst norm = Math.sqrt(values[0] ** 2 + values[1] ** 2 + values[2] ** 2);\nmsg.payload = norm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "4dee4157c9a1ad0f",
                "124a092a6094395a",
                "a7bf34d0ed72c446",
                "fe34d48d6474d47f"
            ]
        ]
    },
    {
        "id": "124a092a6094395a",
        "type": "ui_chart",
        "z": "e0bfe979e53f066b",
        "name": "",
        "group": "0e1689bab054488c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "5",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a7bf34d0ed72c446",
        "type": "ui_gauge",
        "z": "e0bfe979e53f066b",
        "name": "",
        "group": "0e1689bab054488c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe34d48d6474d47f",
        "type": "ui_text",
        "z": "e0bfe979e53f066b",
        "group": "0e1689bab054488c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "1bb722199c2b4714",
        "type": "inject",
        "z": "c2ce797ff8d6a242",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hi from laptop",
        "payloadType": "str",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "14d06c29a1de34cc"
            ]
        ]
    },
    {
        "id": "14d06c29a1de34cc",
        "type": "mqtt out",
        "z": "c2ce797ff8d6a242",
        "name": "",
        "topic": "NR/button",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d516eaf74847e6bb",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "187c726d0c72c4ab",
        "type": "ui_button",
        "z": "c2ce797ff8d6a242",
        "name": "",
        "group": "eae91abd84217400",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "็Hi from laptop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "14d06c29a1de34cc"
            ]
        ]
    },
    {
        "id": "2e8ceb191e6d06a4",
        "type": "inject",
        "z": "095b6b82d1126c8a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "6f6aeaf3475cb28f"
            ]
        ]
    },
    {
        "id": "6f6aeaf3475cb28f",
        "type": "function",
        "z": "095b6b82d1126c8a",
        "name": "function 4",
        "func": "msg.payload = Math.random();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "147834db0135a909"
            ]
        ]
    },
    {
        "id": "147834db0135a909",
        "type": "mqtt out",
        "z": "095b6b82d1126c8a",
        "name": "",
        "topic": "nirand/fake",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d516eaf74847e6bb",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "b0afb89cec81ca94",
        "type": "mqtt in",
        "z": "095b6b82d1126c8a",
        "name": "",
        "topic": "nirand/fake",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d516eaf74847e6bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "9bb772424dd8c6f4"
            ]
        ]
    },
    {
        "id": "9bb772424dd8c6f4",
        "type": "ui_chart",
        "z": "095b6b82d1126c8a",
        "name": "",
        "group": "0fa5a5d72cc8c19b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    }
]