codes/S002/local/flows.json
[
    {
        "id": "d2417708ee0d44cc",
        "type": "tab",
        "label": "HTTP GET",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20a727599ba9730b",
        "type": "tab",
        "label": "HTTP Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88849aaee0f3ffb5",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f4559148c2ef79c",
        "type": "tab",
        "label": "Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38c6ecaa6bcc6e4f",
        "type": "tab",
        "label": "Line Notify",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2874cb629e84331",
        "type": "http request",
        "z": "d2417708ee0d44cc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://cmu.ac.th",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "8263fcce5375391f",
                "2deea39a5f1c17ac"
            ]
        ]
    },
    {
        "id": "8263fcce5375391f",
        "type": "debug",
        "z": "d2417708ee0d44cc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "44e0099db9c48c65",
        "type": "inject",
        "z": "d2417708ee0d44cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f2874cb629e84331"
            ]
        ]
    },
    {
        "id": "2deea39a5f1c17ac",
        "type": "file",
        "z": "d2417708ee0d44cc",
        "name": "",
        "filename": "index.html",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ffe4906b02c6a91b",
        "type": "http in",
        "z": "20a727599ba9730b",
        "name": "",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "f40902722a695a10",
                "922d2869d87d7cc9"
            ]
        ]
    },
    {
        "id": "ab9b9848741da078",
        "type": "http response",
        "z": "20a727599ba9730b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "2f3e0928b89f06e1",
        "type": "template",
        "z": "20a727599ba9730b",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Helooooooo, {{time}}",
        "output": "str",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "ab9b9848741da078"
            ]
        ]
    },
    {
        "id": "f40902722a695a10",
        "type": "function",
        "z": "20a727599ba9730b",
        "d": true,
        "name": "function 1",
        "func": "const date = new Date();\nmsg.time = date.toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "2f3e0928b89f06e1"
            ]
        ]
    },
    {
        "id": "922d2869d87d7cc9",
        "type": "file in",
        "z": "20a727599ba9730b",
        "name": "",
        "filename": "index.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "ab9b9848741da078"
            ]
        ]
    },
    {
        "id": "daa87213d4f5a37c",
        "type": "http in",
        "z": "88849aaee0f3ffb5",
        "name": "",
        "url": "post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "d17e66f9a5ba12e5",
                "eef14546e99c98b3"
            ]
        ]
    },
    {
        "id": "f5ff073e655f2936",
        "type": "http response",
        "z": "88849aaee0f3ffb5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "d17e66f9a5ba12e5",
        "type": "template",
        "z": "88849aaee0f3ffb5",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message, {{payload}} !",
        "output": "str",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "f5ff073e655f2936"
            ]
        ]
    },
    {
        "id": "295c16771fecc185",
        "type": "comment",
        "z": "88849aaee0f3ffb5",
        "name": "Server",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "5c81d561fdc933b7",
        "type": "comment",
        "z": "88849aaee0f3ffb5",
        "name": "Clinet",
        "info": "",
        "x": 150,
        "y": 220,
        "wires": []
    },
    {
        "id": "0c3462447ebe0871",
        "type": "http request",
        "z": "88849aaee0f3ffb5",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "e553514b94ca4fc8"
            ]
        ]
    },
    {
        "id": "dcea0a2c0b375610",
        "type": "inject",
        "z": "88849aaee0f3ffb5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "http://127.0.0.1:1880/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "0c3462447ebe0871"
            ]
        ]
    },
    {
        "id": "e553514b94ca4fc8",
        "type": "debug",
        "z": "88849aaee0f3ffb5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "eef14546e99c98b3",
        "type": "function",
        "z": "88849aaee0f3ffb5",
        "name": "function 2",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "f5ff073e655f2936"
            ]
        ]
    },
    {
        "id": "a87d64b8af32ac5d",
        "type": "inject",
        "z": "1f4559148c2ef79c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6e8248f3c59ec2b4",
        "type": "inject",
        "z": "38c6ecaa6bcc6e4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer sHRNXNOOnWW2V8hd9Egi0iP3cFIzzIHpWIOnIJwujBP\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "https://notify-api.line.me/api/notify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"ส่งโปรเจคยัง\"}",
        "payloadType": "json",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "b034777ef03b24c0"
            ]
        ]
    },
    {
        "id": "b034777ef03b24c0",
        "type": "http request",
        "z": "38c6ecaa6bcc6e4f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    }
]