codes/S002/local/flows.json
[
    {
        "id": "d2417708ee0d44cc",
        "type": "tab",
        "label": "HTTP GET",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20a727599ba9730b",
        "type": "tab",
        "label": "HTTP Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88849aaee0f3ffb5",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f4559148c2ef79c",
        "type": "tab",
        "label": "Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38c6ecaa6bcc6e4f",
        "type": "tab",
        "label": "Line Notify",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f158fba5bfbef156",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fb899b8c3eaf559",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08c04908ca2853df",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c478ea0cc6a8050",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iecmu.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "91dc54521244f8dd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3ca7cca64e0383c6",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "f07a5f1df8405fd5",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "3ca7cca64e0383c6",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "5e14832e36d6cdc4",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "389c90dd3a040fca",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "5e14832e36d6cdc4",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "da5341aaa9c9cc7d",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "91d6c783b73be0ba",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "da5341aaa9c9cc7d",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "f2874cb629e84331",
        "type": "http request",
        "z": "d2417708ee0d44cc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://cmu.ac.th",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "8263fcce5375391f",
                "2deea39a5f1c17ac"
            ]
        ]
    },
    {
        "id": "8263fcce5375391f",
        "type": "debug",
        "z": "d2417708ee0d44cc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "44e0099db9c48c65",
        "type": "inject",
        "z": "d2417708ee0d44cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f2874cb629e84331"
            ]
        ]
    },
    {
        "id": "2deea39a5f1c17ac",
        "type": "file",
        "z": "d2417708ee0d44cc",
        "name": "",
        "filename": "index.html",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ffe4906b02c6a91b",
        "type": "http in",
        "z": "20a727599ba9730b",
        "name": "",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "f40902722a695a10",
                "922d2869d87d7cc9"
            ]
        ]
    },
    {
        "id": "ab9b9848741da078",
        "type": "http response",
        "z": "20a727599ba9730b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "2f3e0928b89f06e1",
        "type": "template",
        "z": "20a727599ba9730b",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Helooooooo, {{time}}",
        "output": "str",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "ab9b9848741da078"
            ]
        ]
    },
    {
        "id": "f40902722a695a10",
        "type": "function",
        "z": "20a727599ba9730b",
        "d": true,
        "name": "function 1",
        "func": "const date = new Date();\nmsg.time = date.toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "2f3e0928b89f06e1"
            ]
        ]
    },
    {
        "id": "922d2869d87d7cc9",
        "type": "file in",
        "z": "20a727599ba9730b",
        "name": "",
        "filename": "index.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "ab9b9848741da078"
            ]
        ]
    },
    {
        "id": "daa87213d4f5a37c",
        "type": "http in",
        "z": "88849aaee0f3ffb5",
        "name": "",
        "url": "post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "d17e66f9a5ba12e5",
                "eef14546e99c98b3"
            ]
        ]
    },
    {
        "id": "f5ff073e655f2936",
        "type": "http response",
        "z": "88849aaee0f3ffb5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "d17e66f9a5ba12e5",
        "type": "template",
        "z": "88849aaee0f3ffb5",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message, {{payload}} !",
        "output": "str",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "f5ff073e655f2936"
            ]
        ]
    },
    {
        "id": "295c16771fecc185",
        "type": "comment",
        "z": "88849aaee0f3ffb5",
        "name": "Server",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "5c81d561fdc933b7",
        "type": "comment",
        "z": "88849aaee0f3ffb5",
        "name": "Clinet",
        "info": "",
        "x": 150,
        "y": 220,
        "wires": []
    },
    {
        "id": "0c3462447ebe0871",
        "type": "http request",
        "z": "88849aaee0f3ffb5",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "e553514b94ca4fc8"
            ]
        ]
    },
    {
        "id": "dcea0a2c0b375610",
        "type": "inject",
        "z": "88849aaee0f3ffb5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "http://127.0.0.1:1880/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "0c3462447ebe0871"
            ]
        ]
    },
    {
        "id": "e553514b94ca4fc8",
        "type": "debug",
        "z": "88849aaee0f3ffb5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "eef14546e99c98b3",
        "type": "function",
        "z": "88849aaee0f3ffb5",
        "name": "function 2",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "f5ff073e655f2936"
            ]
        ]
    },
    {
        "id": "a87d64b8af32ac5d",
        "type": "inject",
        "z": "1f4559148c2ef79c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6e8248f3c59ec2b4",
        "type": "inject",
        "z": "38c6ecaa6bcc6e4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer sHRNXNOOnWW2V8hd9Egi0iP3cFIzzIHpWIOnIJwujBP\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "https://notify-api.line.me/api/notify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"ส่งโปรเจคยัง\"}",
        "payloadType": "json",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "b034777ef03b24c0"
            ]
        ]
    },
    {
        "id": "b034777ef03b24c0",
        "type": "http request",
        "z": "38c6ecaa6bcc6e4f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "17708097b165e78b",
        "type": "mqtt out",
        "z": "f158fba5bfbef156",
        "d": true,
        "name": "",
        "topic": "NR/sensor",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c478ea0cc6a8050",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "c2b9c8ccff0a9936",
        "type": "inject",
        "z": "f158fba5bfbef156",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello from node-red",
        "payloadType": "str",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "17708097b165e78b"
            ]
        ]
    },
    {
        "id": "d805df594e2c6126",
        "type": "mqtt in",
        "z": "f158fba5bfbef156",
        "d": true,
        "name": "",
        "topic": "NR/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7c478ea0cc6a8050",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "d86a3fa5034ff323"
            ]
        ]
    },
    {
        "id": "0e3df8eeacb9af75",
        "type": "debug",
        "z": "f158fba5bfbef156",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "d86a3fa5034ff323",
        "type": "switch",
        "z": "f158fba5bfbef156",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "c6d38c94cae2f360"
            ],
            [
                "90dfe8b37a4f67ab"
            ]
        ]
    },
    {
        "id": "c6d38c94cae2f360",
        "type": "change",
        "z": "f158fba5bfbef156",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Too low",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "0e3df8eeacb9af75"
            ]
        ]
    },
    {
        "id": "90dfe8b37a4f67ab",
        "type": "change",
        "z": "f158fba5bfbef156",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "too high",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "0e3df8eeacb9af75"
            ]
        ]
    },
    {
        "id": "36f1d86cff995b6f",
        "type": "mqtt in",
        "z": "1fb899b8c3eaf559",
        "name": "",
        "topic": "nnnpooh/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7c478ea0cc6a8050",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "3835989c92964732"
            ]
        ]
    },
    {
        "id": "415a4d653d0b0a7e",
        "type": "debug",
        "z": "1fb899b8c3eaf559",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "3835989c92964732",
        "type": "function",
        "z": "1fb899b8c3eaf559",
        "name": "function 3",
        "func": "const payloadJSON = msg.payload;\nconst values = payloadJSON['LSM6DSO Acceleration Sensor'].values;\nconst norm = Math.sqrt(values[0] ** 2 + values[1] ** 2 + values[2] ** 2);\nmsg.payload = norm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "415a4d653d0b0a7e",
                "508910cfdea96d38",
                "924d8b9aad4b445a",
                "54724518514cb651"
            ]
        ]
    },
    {
        "id": "508910cfdea96d38",
        "type": "ui_chart",
        "z": "1fb899b8c3eaf559",
        "name": "",
        "group": "f07a5f1df8405fd5",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "5",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "924d8b9aad4b445a",
        "type": "ui_gauge",
        "z": "1fb899b8c3eaf559",
        "name": "",
        "group": "f07a5f1df8405fd5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "5",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "54724518514cb651",
        "type": "ui_text",
        "z": "1fb899b8c3eaf559",
        "group": "f07a5f1df8405fd5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "34a5b7e78b966af2",
        "type": "ui_button",
        "z": "1fb899b8c3eaf559",
        "name": "",
        "group": "389c90dd3a040fca",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START_BTN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "START",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "e1338734b2471330"
            ]
        ]
    },
    {
        "id": "e1338734b2471330",
        "type": "mqtt out",
        "z": "1fb899b8c3eaf559",
        "name": "",
        "topic": "test/main",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c478ea0cc6a8050",
        "x": 360,
        "y": 500,
        "wires": []
    },
    {
        "id": "36b0810d95cd1110",
        "type": "inject",
        "z": "08c04908ca2853df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "6c3bbdc7e7e81caa"
            ]
        ]
    },
    {
        "id": "6c3bbdc7e7e81caa",
        "type": "function",
        "z": "08c04908ca2853df",
        "name": "function 4",
        "func": "msg.payload = Math.random();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "fd8a1b2680bcb422"
            ]
        ]
    },
    {
        "id": "fd8a1b2680bcb422",
        "type": "mqtt out",
        "z": "08c04908ca2853df",
        "name": "",
        "topic": "NR/fake",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c478ea0cc6a8050",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "5186913d42145be9",
        "type": "mqtt in",
        "z": "08c04908ca2853df",
        "name": "",
        "topic": "NR/fake",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7c478ea0cc6a8050",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "521ee235657e5b4d"
            ]
        ]
    },
    {
        "id": "521ee235657e5b4d",
        "type": "ui_chart",
        "z": "08c04908ca2853df",
        "name": "",
        "group": "91d6c783b73be0ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 240,
        "wires": [
            []
        ]
    }
]