codes/nr-lecture/local/.flows.json.backup
[
    {
        "id": "3660f5718b8fd1c3",
        "type": "tab",
        "label": "M1-2 Navigation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf2f4b787c98764e",
        "type": "tab",
        "label": "M1-3 HTTP GET",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edb79df4fdc2edd1",
        "type": "group",
        "z": "3660f5718b8fd1c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "88aa42bd0e3f441d",
            "ce3d615246749e24"
        ],
        "x": 54,
        "y": 39,
        "w": 452,
        "h": 82
    },
    {
        "id": "0944f51d2615aa82",
        "type": "group",
        "z": "3660f5718b8fd1c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "edb7860487bcb78e",
            "c76cc6a63786d0d6",
            "9c05bd71fa4b51fb"
        ],
        "x": 54,
        "y": 199,
        "w": 672,
        "h": 82
    },
    {
        "id": "cb7c64a4b929d30c",
        "type": "group",
        "z": "3660f5718b8fd1c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2b7d7998bde3f2d2",
            "4f55d205322321c6",
            "db5655e85fbfc110",
            "53d72b2e1ded77ad",
            "b715c14f26b6319c",
            "64ccac76a7de2a52"
        ],
        "x": 54,
        "y": 359,
        "w": 1112,
        "h": 162
    },
    {
        "id": "88aa42bd0e3f441d",
        "type": "inject",
        "z": "3660f5718b8fd1c3",
        "g": "edb79df4fdc2edd1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "ce3d615246749e24"
            ]
        ]
    },
    {
        "id": "ce3d615246749e24",
        "type": "debug",
        "z": "3660f5718b8fd1c3",
        "g": "edb79df4fdc2edd1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "edb7860487bcb78e",
        "type": "inject",
        "z": "3660f5718b8fd1c3",
        "g": "0944f51d2615aa82",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "c76cc6a63786d0d6"
            ]
        ]
    },
    {
        "id": "c76cc6a63786d0d6",
        "type": "function",
        "z": "3660f5718b8fd1c3",
        "g": "0944f51d2615aa82",
        "name": "function 1",
        "func": "const date = new Date()\nmsg.payload = date.toDateString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "9c05bd71fa4b51fb"
            ]
        ]
    },
    {
        "id": "9c05bd71fa4b51fb",
        "type": "debug",
        "z": "3660f5718b8fd1c3",
        "g": "0944f51d2615aa82",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "2b7d7998bde3f2d2",
        "type": "inject",
        "z": "3660f5718b8fd1c3",
        "d": true,
        "g": "cb7c64a4b929d30c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "4f55d205322321c6"
            ]
        ]
    },
    {
        "id": "4f55d205322321c6",
        "type": "function",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "function 2",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "53d72b2e1ded77ad"
            ]
        ]
    },
    {
        "id": "db5655e85fbfc110",
        "type": "debug",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "53d72b2e1ded77ad",
        "type": "switch",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "b715c14f26b6319c"
            ],
            [
                "64ccac76a7de2a52"
            ]
        ]
    },
    {
        "id": "b715c14f26b6319c",
        "type": "change",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This is a high value.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "db5655e85fbfc110"
            ]
        ]
    },
    {
        "id": "64ccac76a7de2a52",
        "type": "change",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This is a low value.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "db5655e85fbfc110"
            ]
        ]
    },
    {
        "id": "c45cd3083ea411af",
        "type": "inject",
        "z": "cf2f4b787c98764e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "9665787069f334d6"
            ]
        ]
    },
    {
        "id": "9665787069f334d6",
        "type": "http request",
        "z": "cf2f4b787c98764e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://cmu.ac.th",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "9767df2216942965",
                "74a9a933adc869e5"
            ]
        ]
    },
    {
        "id": "9767df2216942965",
        "type": "debug",
        "z": "cf2f4b787c98764e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "74a9a933adc869e5",
        "type": "file",
        "z": "cf2f4b787c98764e",
        "name": "",
        "filename": "index.html",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    }
]