codes/nr-lecture/local/flows.json
[
    {
        "id": "3660f5718b8fd1c3",
        "type": "tab",
        "label": "M1-2 Navigation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf2f4b787c98764e",
        "type": "tab",
        "label": "M1-3 HTTP GET",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "212ebbe6435f3080",
        "type": "tab",
        "label": "M1-4 Server GET ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "360e94ece4fe56a9",
        "type": "tab",
        "label": "M 2-1 Server POST",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa8263e490d88d59",
        "type": "tab",
        "label": "Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20220b7d1c75cd26",
        "type": "tab",
        "label": "M2-2 Line Notify",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "992e1e63d0d24254",
        "type": "tab",
        "label": "M2-2 Extra",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74862c9e2dd68507",
        "type": "tab",
        "label": "M3-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "685c9c72cffcba0b",
        "type": "tab",
        "label": "M6-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3af211b55fb47eb",
        "type": "tab",
        "label": "M6-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "737f034f204697d3",
        "type": "tab",
        "label": "M7-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edb79df4fdc2edd1",
        "type": "group",
        "z": "3660f5718b8fd1c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "88aa42bd0e3f441d",
            "ce3d615246749e24"
        ],
        "x": 54,
        "y": 39,
        "w": 452,
        "h": 82
    },
    {
        "id": "0944f51d2615aa82",
        "type": "group",
        "z": "3660f5718b8fd1c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "edb7860487bcb78e",
            "c76cc6a63786d0d6",
            "9c05bd71fa4b51fb"
        ],
        "x": 54,
        "y": 199,
        "w": 672,
        "h": 82
    },
    {
        "id": "cb7c64a4b929d30c",
        "type": "group",
        "z": "3660f5718b8fd1c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2b7d7998bde3f2d2",
            "4f55d205322321c6",
            "db5655e85fbfc110",
            "53d72b2e1ded77ad",
            "b715c14f26b6319c",
            "64ccac76a7de2a52"
        ],
        "x": 54,
        "y": 359,
        "w": 1112,
        "h": 162
    },
    {
        "id": "0b584967f330ccef",
        "type": "group",
        "z": "212ebbe6435f3080",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ee1330060e50ca36",
            "4be378a2fed65530",
            "a97083d6b04fc1ed",
            "461c0b30470e8a39",
            "d6b5ebbeacf25284",
            "bb1ac70e92b1318a",
            "50abfe7e5c8182ce",
            "8b1fceb67dc4ad76",
            "d834ad21bd37ea96"
        ],
        "x": 34,
        "y": 19
    },
    {
        "id": "fc089742b7a03c9a",
        "type": "group",
        "z": "212ebbe6435f3080",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "ea1de657d8c653f9",
            "d54173e064070dc1",
            "cd0fdf70f288a758",
            "50928955532f3861",
            "56ac7fd7448b4092",
            "e14bea57abc80f81",
            "5cfa6b4f621dda44",
            "2662dd203444845c"
        ],
        "x": 34,
        "y": 379
    },
    {
        "id": "9e71dda4f602f907",
        "type": "group",
        "z": "360e94ece4fe56a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b0f5041a8300453b",
            "2df487027fd68320",
            "140392d7dcb92019",
            "407f7ff0db36cb80",
            "f4f1a8977f0267cb",
            "3cacd8cc84c25d0d",
            "b60c655ae305692f",
            "2ab4bca595ab1009"
        ],
        "x": 34,
        "y": 39
    },
    {
        "id": "a7d9c5d3e9751545",
        "type": "group",
        "z": "360e94ece4fe56a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "be1facca84f1a262",
            "2075593d277b8894",
            "fc6dc92850034d6c",
            "82066d4d95eac850",
            "ae39f6c7a5a69714",
            "1073004a64c0287f",
            "c5a434c9a713e461",
            "f9335d1744bf3b62"
        ],
        "x": 34,
        "y": 399
    },
    {
        "id": "2e3bf437c03026b1",
        "type": "group",
        "z": "992e1e63d0d24254",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c70917b1a8af07d1",
            "7d2dd3cba4182c26",
            "25b2d9141024be28",
            "0147928a471ca56e",
            "c4600f4bb6c364d4",
            "ee4aebe91fdd8517",
            "07ee5c911c307af6"
        ],
        "x": 54,
        "y": 79
    },
    {
        "id": "8a7f6f4e10f024be",
        "type": "group",
        "z": "992e1e63d0d24254",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "da6edf6354cd88fa",
            "4f307aee73a1cfbb",
            "8bc51a58dc96e1bd"
        ],
        "x": 54,
        "y": 359
    },
    {
        "id": "dd9ce715d365fa01",
        "type": "group",
        "z": "685c9c72cffcba0b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c4e618e2d6ca476b",
            "770dddfb6ec85e71",
            "f723b68f33cac68c",
            "31c4504d98f4dca5"
        ],
        "x": 34,
        "y": 79,
        "w": 652,
        "h": 142
    },
    {
        "id": "bb34aa2a5ed5fe2c",
        "type": "group",
        "z": "b3af211b55fb47eb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "415796642efb77cb",
            "f5de5511ea279cb9",
            "54423e85066bc529",
            "6e6628425cb1a6ab"
        ],
        "x": 74,
        "y": 39,
        "w": 612,
        "h": 142
    },
    {
        "id": "82e871be3cbd8cf6",
        "type": "group",
        "z": "737f034f204697d3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "997e77e594d52d2c",
            "b1a701ca58807457",
            "74bcce45a82c8a23",
            "dc67100cd8b6c492",
            "eb2cd3128f5ed150",
            "174b51cb66dbfaf8",
            "31ac0e30ed260962",
            "c531b8b1fd7c2eca",
            "eb1cbf107b0b9794"
        ],
        "x": 14,
        "y": 99,
        "w": 1052,
        "h": 322
    },
    {
        "id": "47be43c74fdd59fe",
        "type": "group",
        "z": "737f034f204697d3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "07e23e6845a0661b",
            "7c382d9dd90f4a71",
            "d3ea8c5b01658ad0"
        ],
        "x": 14,
        "y": 459,
        "w": 412,
        "h": 142
    },
    {
        "id": "d5ec1d31bf493bfe",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iecmu.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cda050e8c35da33e",
        "type": "firebase admin",
        "name": "Prodsup"
    },
    {
        "id": "1d7942491b35b884",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d9e0ddb5c6b8dfb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6adb718199fdcdb6",
        "type": "ui_group",
        "name": "Default",
        "tab": "1d7942491b35b884",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88aa42bd0e3f441d",
        "type": "inject",
        "z": "3660f5718b8fd1c3",
        "g": "edb79df4fdc2edd1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "ce3d615246749e24"
            ]
        ]
    },
    {
        "id": "ce3d615246749e24",
        "type": "debug",
        "z": "3660f5718b8fd1c3",
        "g": "edb79df4fdc2edd1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "edb7860487bcb78e",
        "type": "inject",
        "z": "3660f5718b8fd1c3",
        "g": "0944f51d2615aa82",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "c76cc6a63786d0d6"
            ]
        ]
    },
    {
        "id": "c76cc6a63786d0d6",
        "type": "function",
        "z": "3660f5718b8fd1c3",
        "g": "0944f51d2615aa82",
        "name": "function 1",
        "func": "const date = new Date()\nmsg.payload = date.toDateString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "9c05bd71fa4b51fb"
            ]
        ]
    },
    {
        "id": "9c05bd71fa4b51fb",
        "type": "debug",
        "z": "3660f5718b8fd1c3",
        "g": "0944f51d2615aa82",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "2b7d7998bde3f2d2",
        "type": "inject",
        "z": "3660f5718b8fd1c3",
        "d": true,
        "g": "cb7c64a4b929d30c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "4f55d205322321c6"
            ]
        ]
    },
    {
        "id": "4f55d205322321c6",
        "type": "function",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "function 2",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "53d72b2e1ded77ad"
            ]
        ]
    },
    {
        "id": "db5655e85fbfc110",
        "type": "debug",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "53d72b2e1ded77ad",
        "type": "switch",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "b715c14f26b6319c"
            ],
            [
                "64ccac76a7de2a52"
            ]
        ]
    },
    {
        "id": "b715c14f26b6319c",
        "type": "change",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This is a high value.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "db5655e85fbfc110"
            ]
        ]
    },
    {
        "id": "64ccac76a7de2a52",
        "type": "change",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This is a low value.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "db5655e85fbfc110"
            ]
        ]
    },
    {
        "id": "c45cd3083ea411af",
        "type": "inject",
        "z": "cf2f4b787c98764e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "9665787069f334d6"
            ]
        ]
    },
    {
        "id": "9665787069f334d6",
        "type": "http request",
        "z": "cf2f4b787c98764e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://cmu.ac.th",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "9767df2216942965",
                "74a9a933adc869e5"
            ]
        ]
    },
    {
        "id": "9767df2216942965",
        "type": "debug",
        "z": "cf2f4b787c98764e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "74a9a933adc869e5",
        "type": "file",
        "z": "cf2f4b787c98764e",
        "name": "",
        "filename": "index.html",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ee1330060e50ca36",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Hello",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "d6b5ebbeacf25284"
            ]
        ]
    },
    {
        "id": "4be378a2fed65530",
        "type": "template",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Response Text",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi there! Right now it is {{time}}.",
        "output": "str",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "a97083d6b04fc1ed",
                "461c0b30470e8a39"
            ]
        ]
    },
    {
        "id": "a97083d6b04fc1ed",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Hello",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "461c0b30470e8a39",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "d6b5ebbeacf25284",
        "type": "function",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "func": "const date = new Date()\nmsg.time = date.toLocaleTimeString()  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "4be378a2fed65530"
            ]
        ]
    },
    {
        "id": "bb1ac70e92b1318a",
        "type": "inject",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "50abfe7e5c8182ce"
            ]
        ]
    },
    {
        "id": "50abfe7e5c8182ce",
        "type": "http request",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8b1fceb67dc4ad76",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Testing",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "d834ad21bd37ea96",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "HTTP server responding to /hello",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "ea1de657d8c653f9",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "Home",
        "url": "home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "50928955532f3861"
            ]
        ]
    },
    {
        "id": "d54173e064070dc1",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "HTML",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "cd0fdf70f288a758",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "50928955532f3861",
        "type": "file in",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "d54173e064070dc1",
                "cd0fdf70f288a758"
            ]
        ]
    },
    {
        "id": "56ac7fd7448b4092",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "HTTP server responding to /home",
        "info": "",
        "x": 200,
        "y": 420,
        "wires": []
    },
    {
        "id": "e14bea57abc80f81",
        "type": "inject",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "5cfa6b4f621dda44"
            ]
        ]
    },
    {
        "id": "5cfa6b4f621dda44",
        "type": "http request",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/home",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2662dd203444845c",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "Testing",
        "info": "",
        "x": 110,
        "y": 640,
        "wires": []
    },
    {
        "id": "b0f5041a8300453b",
        "type": "http in",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "Post1",
        "url": "post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "407f7ff0db36cb80"
            ]
        ]
    },
    {
        "id": "2df487027fd68320",
        "type": "http response",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "Reply",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "140392d7dcb92019",
        "type": "debug",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "407f7ff0db36cb80",
        "type": "template",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "2df487027fd68320"
            ]
        ]
    },
    {
        "id": "f4f1a8977f0267cb",
        "type": "http request",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "140392d7dcb92019"
            ]
        ]
    },
    {
        "id": "3cacd8cc84c25d0d",
        "type": "inject",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1880/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "f4f1a8977f0267cb"
            ]
        ]
    },
    {
        "id": "be1facca84f1a262",
        "type": "http in",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "Post2",
        "url": "post2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "fc6dc92850034d6c"
            ]
        ]
    },
    {
        "id": "2075593d277b8894",
        "type": "http response",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "Reply",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "fc6dc92850034d6c",
        "type": "function",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "",
        "func": "const message = msg.payload\nconst date = new Date()\nconst time = date.toLocaleTimeString()\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "2075593d277b8894"
            ]
        ]
    },
    {
        "id": "82066d4d95eac850",
        "type": "debug",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "ae39f6c7a5a69714",
        "type": "http request",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "82066d4d95eac850"
            ]
        ]
    },
    {
        "id": "1073004a64c0287f",
        "type": "inject",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1880/post2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "ae39f6c7a5a69714"
            ]
        ]
    },
    {
        "id": "b60c655ae305692f",
        "type": "comment",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "HTTP server /post1",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "2ab4bca595ab1009",
        "type": "comment",
        "z": "360e94ece4fe56a9",
        "g": "9e71dda4f602f907",
        "name": "Post request",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "c5a434c9a713e461",
        "type": "comment",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "HTTP server /post2",
        "info": "",
        "x": 150,
        "y": 440,
        "wires": []
    },
    {
        "id": "f9335d1744bf3b62",
        "type": "comment",
        "z": "360e94ece4fe56a9",
        "g": "a7d9c5d3e9751545",
        "name": "Post Request",
        "info": "",
        "x": 130,
        "y": 580,
        "wires": []
    },
    {
        "id": "203463a85e187411",
        "type": "inject",
        "z": "fa8263e490d88d59",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://materials-line-oa-production.up.railway.app/prodsup",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"630610294\",\"code\":\"599b\"}",
        "payloadType": "json",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d41bec8c6eb4ce0f"
            ]
        ]
    },
    {
        "id": "d41bec8c6eb4ce0f",
        "type": "http request",
        "z": "fa8263e490d88d59",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 160,
        "wires": [
            [
                "6c05880f2542a58d"
            ]
        ]
    },
    {
        "id": "6c05880f2542a58d",
        "type": "debug",
        "z": "fa8263e490d88d59",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "25b11551a7383191",
        "type": "comment",
        "z": "fa8263e490d88d59",
        "name": "Attendance check",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "f2f6c4b87bb5b523",
        "type": "comment",
        "z": "20220b7d1c75cd26",
        "name": "Line Notify",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "a30b2e3f218bf739",
        "type": "inject",
        "z": "20220b7d1c75cd26",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer <<YOUR LINE TOKEN>>\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "https://notify-api.line.me/api/notify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"hello\"}",
        "payloadType": "json",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "f864faefd2856870"
            ]
        ]
    },
    {
        "id": "f864faefd2856870",
        "type": "http request",
        "z": "20220b7d1c75cd26",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "4c6feb3058b1e2ad"
            ]
        ]
    },
    {
        "id": "4c6feb3058b1e2ad",
        "type": "debug",
        "z": "20220b7d1c75cd26",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "c70917b1a8af07d1",
        "type": "comment",
        "z": "992e1e63d0d24254",
        "g": "2e3bf437c03026b1",
        "name": "Line Notify Server",
        "info": "",
        "x": 170,
        "y": 120,
        "wires": []
    },
    {
        "id": "7d2dd3cba4182c26",
        "type": "inject",
        "z": "992e1e63d0d24254",
        "g": "2e3bf437c03026b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "headers",
                "v": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer <<YOUR LINE TOKEN>>\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "https://notify-api.line.me/api/notify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"hello\"}",
        "payloadType": "json",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "25b2d9141024be28"
            ]
        ]
    },
    {
        "id": "25b2d9141024be28",
        "type": "http request",
        "z": "992e1e63d0d24254",
        "g": "2e3bf437c03026b1",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "0147928a471ca56e",
                "07ee5c911c307af6"
            ]
        ]
    },
    {
        "id": "0147928a471ca56e",
        "type": "debug",
        "z": "992e1e63d0d24254",
        "g": "2e3bf437c03026b1",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "c4600f4bb6c364d4",
        "type": "http in",
        "z": "992e1e63d0d24254",
        "g": "2e3bf437c03026b1",
        "name": "",
        "url": "/post3",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "ee4aebe91fdd8517"
            ]
        ]
    },
    {
        "id": "da6edf6354cd88fa",
        "type": "inject",
        "z": "992e1e63d0d24254",
        "g": "8a7f6f4e10f024be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://localhost:1881/post3",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Yesssss",
        "payloadType": "str",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "4f307aee73a1cfbb"
            ]
        ]
    },
    {
        "id": "4f307aee73a1cfbb",
        "type": "http request",
        "z": "992e1e63d0d24254",
        "g": "8a7f6f4e10f024be",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ee4aebe91fdd8517",
        "type": "change",
        "z": "992e1e63d0d24254",
        "g": "2e3bf437c03026b1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"Heloooo\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/x-www-form-urlencoded\",\"Authorization\":\"Bearer wJrSgqGVvxvfXoE5Ld2H17BWq4VIKDNiC6N6bYMtVOg\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://notify-api.line.me/api/notify",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "25b2d9141024be28"
            ]
        ]
    },
    {
        "id": "07ee5c911c307af6",
        "type": "http response",
        "z": "992e1e63d0d24254",
        "g": "2e3bf437c03026b1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "8bc51a58dc96e1bd",
        "type": "comment",
        "z": "992e1e63d0d24254",
        "g": "8a7f6f4e10f024be",
        "name": "Line Notify Request",
        "info": "",
        "x": 170,
        "y": 400,
        "wires": []
    },
    {
        "id": "50203c0b13d0479e",
        "type": "comment",
        "z": "74862c9e2dd68507",
        "name": "Subscript to a topic",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "e20d8d801bc6d099",
        "type": "mqtt in",
        "z": "74862c9e2dd68507",
        "d": true,
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d5ec1d31bf493bfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "1d74e6d85e67b39e"
            ]
        ]
    },
    {
        "id": "8866b98260f2a58c",
        "type": "mqtt out",
        "z": "74862c9e2dd68507",
        "name": "",
        "topic": "test/main",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5ec1d31bf493bfe",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "6d651dcd5c5e3671",
        "type": "inject",
        "z": "74862c9e2dd68507",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "8866b98260f2a58c"
            ]
        ]
    },
    {
        "id": "1d74e6d85e67b39e",
        "type": "debug",
        "z": "74862c9e2dd68507",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 120,
        "wires": []
    },
    {
        "id": "f3bc2513eb372042",
        "type": "comment",
        "z": "74862c9e2dd68507",
        "name": "Publish to a topic",
        "info": "",
        "x": 120,
        "y": 240,
        "wires": []
    },
    {
        "id": "c4e618e2d6ca476b",
        "type": "inject",
        "z": "685c9c72cffcba0b",
        "g": "dd9ce715d365fa01",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "770dddfb6ec85e71"
            ]
        ]
    },
    {
        "id": "770dddfb6ec85e71",
        "type": "function",
        "z": "685c9c72cffcba0b",
        "g": "dd9ce715d365fa01",
        "name": "function 3",
        "func": "const timestamp = new Date().getTime()\nconst value = Math.random()\nmsg.payload = {\n    \"value\": value,\n    \"timestamp\":timestamp\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "f723b68f33cac68c"
            ]
        ]
    },
    {
        "id": "f723b68f33cac68c",
        "type": "Firestore out",
        "z": "685c9c72cffcba0b",
        "d": true,
        "g": "dd9ce715d365fa01",
        "name": "Firebase out",
        "collection": "data",
        "document": "",
        "operation": "add",
        "admin": "cda050e8c35da33e",
        "eject": false,
        "x": 590,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "31c4504d98f4dca5",
        "type": "comment",
        "z": "685c9c72cffcba0b",
        "g": "dd9ce715d365fa01",
        "name": "Writing to database",
        "info": "",
        "x": 150,
        "y": 120,
        "wires": []
    },
    {
        "id": "415796642efb77cb",
        "type": "Firestore in",
        "z": "b3af211b55fb47eb",
        "d": true,
        "g": "bb34aa2a5ed5fe2c",
        "name": "Firebase in",
        "collection": "data",
        "group": false,
        "document": "",
        "realtime": true,
        "query": [
            {
                "orderBy": {
                    "field": "timestamp",
                    "direction": "asc"
                }
            },
            {
                "limit": 5
            }
        ],
        "admin": "cda050e8c35da33e",
        "snapHandler": "",
        "eject": false,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "54423e85066bc529"
            ]
        ]
    },
    {
        "id": "f5de5511ea279cb9",
        "type": "debug",
        "z": "b3af211b55fb47eb",
        "g": "bb34aa2a5ed5fe2c",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "54423e85066bc529",
        "type": "function",
        "z": "b3af211b55fb47eb",
        "g": "bb34aa2a5ed5fe2c",
        "name": "function 6",
        "func": "let payload = msg.payload\nlet textOut = ''\n\nfor (const [key, value] of Object.entries(payload)) {\n    const date = new Date(value.timestamp)\n    const datestring = date.toLocaleDateString()\n    const timestring = date.toLocaleTimeString()\n    const reading = value.value.toFixed(2)\n    textOut += `${datestring} ${timestring}: ${reading} \\n`\n}\n\nmsg.payload = textOut;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "f5de5511ea279cb9"
            ]
        ]
    },
    {
        "id": "6e6628425cb1a6ab",
        "type": "comment",
        "z": "b3af211b55fb47eb",
        "g": "bb34aa2a5ed5fe2c",
        "name": "Reading from database",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "997e77e594d52d2c",
        "type": "inject",
        "z": "737f034f204697d3",
        "g": "82e871be3cbd8cf6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "b1a701ca58807457"
            ]
        ]
    },
    {
        "id": "b1a701ca58807457",
        "type": "function",
        "z": "737f034f204697d3",
        "g": "82e871be3cbd8cf6",
        "name": "function 5",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "74bcce45a82c8a23",
                "eb2cd3128f5ed150",
                "dc67100cd8b6c492"
            ]
        ]
    },
    {
        "id": "74bcce45a82c8a23",
        "type": "switch",
        "z": "737f034f204697d3",
        "g": "82e871be3cbd8cf6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "current",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "31ac0e30ed260962"
            ]
        ]
    },
    {
        "id": "07e23e6845a0661b",
        "type": "ui_text",
        "z": "737f034f204697d3",
        "g": "47be43c74fdd59fe",
        "group": "6adb718199fdcdb6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 330,
        "y": 560,
        "wires": []
    },
    {
        "id": "dc67100cd8b6c492",
        "type": "ui_chart",
        "z": "737f034f204697d3",
        "g": "82e871be3cbd8cf6",
        "name": "",
        "group": "6adb718199fdcdb6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "eb2cd3128f5ed150",
        "type": "debug",
        "z": "737f034f204697d3",
        "g": "82e871be3cbd8cf6",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "174b51cb66dbfaf8",
        "type": "inject",
        "z": "737f034f204697d3",
        "g": "82e871be3cbd8cf6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "31ac0e30ed260962"
            ]
        ]
    },
    {
        "id": "31ac0e30ed260962",
        "type": "change",
        "z": "737f034f204697d3",
        "g": "82e871be3cbd8cf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "current",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "c531b8b1fd7c2eca"
            ]
        ]
    },
    {
        "id": "7c382d9dd90f4a71",
        "type": "mqtt in",
        "z": "737f034f204697d3",
        "g": "47be43c74fdd59fe",
        "name": "",
        "topic": "nirand/current",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d5ec1d31bf493bfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "07e23e6845a0661b"
            ]
        ]
    },
    {
        "id": "c531b8b1fd7c2eca",
        "type": "mqtt out",
        "z": "737f034f204697d3",
        "g": "82e871be3cbd8cf6",
        "name": "",
        "topic": "nirand/current",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5ec1d31bf493bfe",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "eb1cbf107b0b9794",
        "type": "comment",
        "z": "737f034f204697d3",
        "g": "82e871be3cbd8cf6",
        "name": "Data and Chart",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "d3ea8c5b01658ad0",
        "type": "comment",
        "z": "737f034f204697d3",
        "g": "47be43c74fdd59fe",
        "name": "Textbox",
        "info": "",
        "x": 90,
        "y": 500,
        "wires": []
    }
]