codes/nr-lecture/local/flows.json
[
    {
        "id": "3660f5718b8fd1c3",
        "type": "tab",
        "label": "M1-2 Navigation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf2f4b787c98764e",
        "type": "tab",
        "label": "M1-3 HTTP GET",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "212ebbe6435f3080",
        "type": "tab",
        "label": "M1-4 Server GET ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edb79df4fdc2edd1",
        "type": "group",
        "z": "3660f5718b8fd1c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "88aa42bd0e3f441d",
            "ce3d615246749e24"
        ],
        "x": 54,
        "y": 39,
        "w": 452,
        "h": 82
    },
    {
        "id": "0944f51d2615aa82",
        "type": "group",
        "z": "3660f5718b8fd1c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "edb7860487bcb78e",
            "c76cc6a63786d0d6",
            "9c05bd71fa4b51fb"
        ],
        "x": 54,
        "y": 199,
        "w": 672,
        "h": 82
    },
    {
        "id": "cb7c64a4b929d30c",
        "type": "group",
        "z": "3660f5718b8fd1c3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2b7d7998bde3f2d2",
            "4f55d205322321c6",
            "db5655e85fbfc110",
            "53d72b2e1ded77ad",
            "b715c14f26b6319c",
            "64ccac76a7de2a52"
        ],
        "x": 54,
        "y": 359,
        "w": 1112,
        "h": 162
    },
    {
        "id": "0b584967f330ccef",
        "type": "group",
        "z": "212ebbe6435f3080",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ee1330060e50ca36",
            "4be378a2fed65530",
            "a97083d6b04fc1ed",
            "461c0b30470e8a39",
            "d6b5ebbeacf25284",
            "bb1ac70e92b1318a",
            "50abfe7e5c8182ce",
            "8b1fceb67dc4ad76",
            "d834ad21bd37ea96"
        ],
        "x": 34,
        "y": 19,
        "w": 772,
        "h": 302
    },
    {
        "id": "fc089742b7a03c9a",
        "type": "group",
        "z": "212ebbe6435f3080",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "ea1de657d8c653f9",
            "d54173e064070dc1",
            "cd0fdf70f288a758",
            "50928955532f3861",
            "56ac7fd7448b4092",
            "e14bea57abc80f81",
            "5cfa6b4f621dda44",
            "2662dd203444845c"
        ],
        "x": 34,
        "y": 379,
        "w": 632,
        "h": 342
    },
    {
        "id": "88aa42bd0e3f441d",
        "type": "inject",
        "z": "3660f5718b8fd1c3",
        "g": "edb79df4fdc2edd1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "ce3d615246749e24"
            ]
        ]
    },
    {
        "id": "ce3d615246749e24",
        "type": "debug",
        "z": "3660f5718b8fd1c3",
        "g": "edb79df4fdc2edd1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "edb7860487bcb78e",
        "type": "inject",
        "z": "3660f5718b8fd1c3",
        "g": "0944f51d2615aa82",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "c76cc6a63786d0d6"
            ]
        ]
    },
    {
        "id": "c76cc6a63786d0d6",
        "type": "function",
        "z": "3660f5718b8fd1c3",
        "g": "0944f51d2615aa82",
        "name": "function 1",
        "func": "const date = new Date()\nmsg.payload = date.toDateString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "9c05bd71fa4b51fb"
            ]
        ]
    },
    {
        "id": "9c05bd71fa4b51fb",
        "type": "debug",
        "z": "3660f5718b8fd1c3",
        "g": "0944f51d2615aa82",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "2b7d7998bde3f2d2",
        "type": "inject",
        "z": "3660f5718b8fd1c3",
        "d": true,
        "g": "cb7c64a4b929d30c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "4f55d205322321c6"
            ]
        ]
    },
    {
        "id": "4f55d205322321c6",
        "type": "function",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "function 2",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "53d72b2e1ded77ad"
            ]
        ]
    },
    {
        "id": "db5655e85fbfc110",
        "type": "debug",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "53d72b2e1ded77ad",
        "type": "switch",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "b715c14f26b6319c"
            ],
            [
                "64ccac76a7de2a52"
            ]
        ]
    },
    {
        "id": "b715c14f26b6319c",
        "type": "change",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This is a high value.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "db5655e85fbfc110"
            ]
        ]
    },
    {
        "id": "64ccac76a7de2a52",
        "type": "change",
        "z": "3660f5718b8fd1c3",
        "g": "cb7c64a4b929d30c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This is a low value.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "db5655e85fbfc110"
            ]
        ]
    },
    {
        "id": "c45cd3083ea411af",
        "type": "inject",
        "z": "cf2f4b787c98764e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "9665787069f334d6"
            ]
        ]
    },
    {
        "id": "9665787069f334d6",
        "type": "http request",
        "z": "cf2f4b787c98764e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://cmu.ac.th",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "9767df2216942965",
                "74a9a933adc869e5"
            ]
        ]
    },
    {
        "id": "9767df2216942965",
        "type": "debug",
        "z": "cf2f4b787c98764e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "74a9a933adc869e5",
        "type": "file",
        "z": "cf2f4b787c98764e",
        "name": "",
        "filename": "index.html",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ee1330060e50ca36",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Hello",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "d6b5ebbeacf25284"
            ]
        ]
    },
    {
        "id": "4be378a2fed65530",
        "type": "template",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Response Text",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hi there! Right now it is {{time}}.",
        "output": "str",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "a97083d6b04fc1ed",
                "461c0b30470e8a39"
            ]
        ]
    },
    {
        "id": "a97083d6b04fc1ed",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Hello",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "461c0b30470e8a39",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "d6b5ebbeacf25284",
        "type": "function",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "func": "const date = new Date()\nmsg.time = date.toLocaleTimeString()  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "4be378a2fed65530"
            ]
        ]
    },
    {
        "id": "bb1ac70e92b1318a",
        "type": "inject",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "50abfe7e5c8182ce"
            ]
        ]
    },
    {
        "id": "50abfe7e5c8182ce",
        "type": "http request",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/hello",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8b1fceb67dc4ad76",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "Testing",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "d834ad21bd37ea96",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "0b584967f330ccef",
        "name": "HTTP server responding to /hello",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "ea1de657d8c653f9",
        "type": "http in",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "Home",
        "url": "home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "50928955532f3861"
            ]
        ]
    },
    {
        "id": "d54173e064070dc1",
        "type": "http response",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "HTML",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "cd0fdf70f288a758",
        "type": "debug",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "50928955532f3861",
        "type": "file in",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "filename": "html/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "d54173e064070dc1",
                "cd0fdf70f288a758"
            ]
        ]
    },
    {
        "id": "56ac7fd7448b4092",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "HTTP server responding to /home",
        "info": "",
        "x": 200,
        "y": 420,
        "wires": []
    },
    {
        "id": "e14bea57abc80f81",
        "type": "inject",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "5cfa6b4f621dda44"
            ]
        ]
    },
    {
        "id": "5cfa6b4f621dda44",
        "type": "http request",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/home",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2662dd203444845c",
        "type": "comment",
        "z": "212ebbe6435f3080",
        "g": "fc089742b7a03c9a",
        "name": "Testing",
        "info": "",
        "x": 110,
        "y": 640,
        "wires": []
    }
]