codes/S006/local/.flows.json.backup
[
    {
        "id": "13b35fd491fcd8b2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "619d795751035fe7",
        "type": "tab",
        "label": "POST Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ee59773cfaed931",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d1abe19d1ed7317",
        "type": "tab",
        "label": "Attendance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5c162363a4793b5",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa990289290c9844",
        "type": "mqtt-broker",
        "name": "อะไรก็ได้",
        "broker": "iecmu.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fefd3f96462f3f06",
        "type": "inject",
        "z": "13b35fd491fcd8b2",
        "name": "Yes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "extra",
                "v": "5555",
                "vt": "num"
            },
            {
                "p": "bigC",
                "v": "6666",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "This is a topic.",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "9d14d1540d6979b6",
                "8862cb2018ba5f26"
            ]
        ]
    },
    {
        "id": "9d14d1540d6979b6",
        "type": "debug",
        "z": "13b35fd491fcd8b2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "extra",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "8862cb2018ba5f26",
        "type": "debug",
        "z": "13b35fd491fcd8b2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "bigC",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "470f9c1c91e26ddf",
        "type": "inject",
        "z": "13b35fd491fcd8b2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "d01a3c91f930fa40"
            ]
        ]
    },
    {
        "id": "d01a3c91f930fa40",
        "type": "function",
        "z": "13b35fd491fcd8b2",
        "name": "function 1",
        "func": "\n// msg.payload = '555555'\n\n// const ts = msg.payload\n// const date = new Date(ts)\n// msg.payload = date.toDateString()\n\nmsg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "ae4883fe0fe1ae80"
            ]
        ]
    },
    {
        "id": "1d0e2a7a19737114",
        "type": "debug",
        "z": "13b35fd491fcd8b2",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "559aac46818b76a8",
        "type": "inject",
        "z": "13b35fd491fcd8b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "d01a3c91f930fa40"
            ]
        ]
    },
    {
        "id": "ae4883fe0fe1ae80",
        "type": "switch",
        "z": "13b35fd491fcd8b2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "0.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "02431c31d2b34d08"
            ],
            [
                "83ba85ba4a03f4a6"
            ]
        ]
    },
    {
        "id": "02431c31d2b34d08",
        "type": "change",
        "z": "13b35fd491fcd8b2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Too high!!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "1d0e2a7a19737114"
            ]
        ]
    },
    {
        "id": "83ba85ba4a03f4a6",
        "type": "change",
        "z": "13b35fd491fcd8b2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Too Low!!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "1d0e2a7a19737114"
            ]
        ]
    },
    {
        "id": "8253e260673791cc",
        "type": "comment",
        "z": "619d795751035fe7",
        "name": "Server listening to POST request",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "f0d1448c9ba422ac",
        "type": "http in",
        "z": "619d795751035fe7",
        "name": "Post1",
        "url": "/post1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "21fba349e45c7bc7"
            ]
        ]
    },
    {
        "id": "21fba349e45c7bc7",
        "type": "template",
        "z": "619d795751035fe7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I got your message: {{payload}} !",
        "output": "str",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "7cd4c229af30ccf0"
            ]
        ]
    },
    {
        "id": "7cd4c229af30ccf0",
        "type": "http response",
        "z": "619d795751035fe7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "b98eac8c353b237a",
        "type": "comment",
        "z": "619d795751035fe7",
        "name": "Sending POST request",
        "info": "",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "1a544a7cd15b3ce0",
        "type": "inject",
        "z": "619d795751035fe7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://127.0.0.1:1880/post1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you too.",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "949a94b4708ace2d"
            ]
        ]
    },
    {
        "id": "949a94b4708ace2d",
        "type": "http request",
        "z": "619d795751035fe7",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "b3de9f7c1a3e6de6"
            ]
        ]
    },
    {
        "id": "b3de9f7c1a3e6de6",
        "type": "debug",
        "z": "619d795751035fe7",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "050c3913f539e227",
        "type": "http in",
        "z": "8ee59773cfaed931",
        "name": "Post2",
        "url": "/post2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "95c2f4c0ccf26379"
            ]
        ]
    },
    {
        "id": "95c2f4c0ccf26379",
        "type": "function",
        "z": "8ee59773cfaed931",
        "name": "function 2",
        "func": "const message = msg.payload;\nconst date = new Date();\nconst time = date.toLocaleTimeString();\n\nmsg.payload = `I got your message \"${message}\" at ${time} !`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 80,
        "wires": [
            [
                "0a1b4df0992ed10c"
            ]
        ]
    },
    {
        "id": "0a1b4df0992ed10c",
        "type": "http response",
        "z": "8ee59773cfaed931",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "37db65269d88b77b",
        "type": "inject",
        "z": "8ee59773cfaed931",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "http://127.0.0.1:1880/post2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I love you.",
        "payloadType": "str",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "9d0782d8b00b7dc7"
            ]
        ]
    },
    {
        "id": "9d0782d8b00b7dc7",
        "type": "http request",
        "z": "8ee59773cfaed931",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "4bca11dd808047b1"
            ]
        ]
    },
    {
        "id": "4bca11dd808047b1",
        "type": "debug",
        "z": "8ee59773cfaed931",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "083a180e07db8681",
        "type": "inject",
        "z": "3d1abe19d1ed7317",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://materials-line-oa-production.up.railway.app/prodsup",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cmu_id\":\"6403434234\",\"code\":\"fedd\"}",
        "payloadType": "json",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "02260926862a4f63"
            ]
        ]
    },
    {
        "id": "02260926862a4f63",
        "type": "http request",
        "z": "3d1abe19d1ed7317",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "5075ba1b9567473c"
            ]
        ]
    },
    {
        "id": "5075ba1b9567473c",
        "type": "debug",
        "z": "3d1abe19d1ed7317",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "59f3234bdf9b85a5",
        "type": "mqtt in",
        "z": "c5c162363a4793b5",
        "name": "",
        "topic": "test/main",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aa990289290c9844",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "71ded265b7c6195b"
            ]
        ]
    },
    {
        "id": "71ded265b7c6195b",
        "type": "debug",
        "z": "c5c162363a4793b5",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "0cab570444bc8c05",
        "type": "mqtt out",
        "z": "c5c162363a4793b5",
        "name": "",
        "topic": "test/main",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aa990289290c9844",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "132b59329c69ce26",
        "type": "inject",
        "z": "c5c162363a4793b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "0cab570444bc8c05"
            ]
        ]
    }
]